.filter-wrapper {
  border: 1px solid rgba(37, 34, 34, 0.159);
}
.filter-wrapper .filter-title {
  background-color: #2a5ea5;
  padding: 10px;
  color: aliceblue;
}
.filter-wrapper .num-of-product {
  padding: 10px;
}
.filter-wrapper .filter-by-size {
  display: flex;
  flex-direction: column;
}
.filter-wrapper > div {
  padding: 15px 25px;
}

.fiter-select {
  height: 40px;
  border-radius: 5px;
}

.order-select {
  height: 40px;
  border-radius: 5px;
}