.orders table {
  width: 100%;
}
.orders table thead {
  background-color: #000;
  color: #fff;
}
.orders table thead th {
  padding: 10px;
}
.orders table tr td {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}