* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  height: 100vh;
}

.layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
  grid-template-rows: 50px 1fr 50px;
}

main {
  grid-area: main;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 25px 25px;
}

.wrapper .products-wrapper {
  width: 68%;
}

.wrapper .filter-wrapper {
  width: 30%;
}

.nav {
  display: flex;
  background-color: #ddd;
  list-style: none;
  padding: 10px 35px;
}

.nav a {
  display: block;
  background-color: gray;
  color: #fff;
  padding: 5px 10px;
  margin-right: 5px;
  text-decoration: none;
}

.nav a.active {
  color: #fff;
  background: #2a5ea2;
}
.nav a.inactive {
  font-style: italic;
}
